# venvs
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dados grandes/temporários
*.wav
*.csv
*.log

# Modelos binários (se NÃO usar LFS, ignore-os)
# models/*.h5
# models/*.keras

# Build / dist
build/
dist/
*.egg-info/
